<div class="body-outer fluid fluid-nomargin container clearfix">
    <div class="primary-outer">
        <div class="sidebar-outer grid3">
            <div class="content-block-topboard sidebar-block  category-hide">
                <div class=""style="">

                </div>
            </div>

            <a href="#">{{VanHoc}}</a><br>

            <div class="content-block-topboard sidebar-block sidebar-block-category-lv2">
                <div class="topboard-inner">
                    <div class="topboard-title "> Loại sách </div>
                    <ul class="topboard-items clearfix ">
                        {{#each loai}}
                            <li class="clearfix" >
                                <div class="item-info">
                                    <h3 class="item-title" ><a href="../../tim-kiem/theo-loai/?id={{idLoai}}">{{tenLoai}}</a></h3>

                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>

            </div>
            <div class="content-block-topboard sidebar-block sidebar-block-category-lv2" >
                <div class="topboard-inner">
                    <div class="topboard-title">Phân loại theo tầm giá</div>
                    <ul class="topboard-items clearfix">
                        <li class="clearfix ">
                            <div class="item-info">
                                <h3 class="item-title"><a >Dưới 50.000 <u>đ</u></a></h3>
                            </div>
                        </li>
                        <li class="clearfix ">
                            <div class="item-info">
                                <h3 class="item-title"><a >Từ 50.000 đến 100.000 <u>đ</u></a></h3>
                            </div>
                        </li>
                        <li class="clearfix ">
                            <div class="item-info">
                                <h3 class="item-title"><a >Từ 100.000 đến 200.000 <u>đ</u></a></h3>
                            </div>
                        </li>
                        <li class="clearfix ">
                            <div class="item-info">
                                <h3 class="item-title"><a >Trên 200.000 <u>đ</u></a></h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="content-block-topboard sidebar-block sidebar-block-category-lv2">
                <div class="topboard-inner">
                    <div class="topboard-title">Nhà xuất bản nổi bật</div>
                    <ul class="topboard-items clearfix">
                        {{#each NhaSX}}

                            <li class="clearfix">
                                <div class="item-info">
                                    <h3 class="item-title"><a href="../../tim-kiem/theo-NhaSX/?id={{idNhaSX}}">{{tenNhaSX}}</a></h3>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="content-block-topboard topboard-book">
                <div class="topboard-inner">
                    <div class="topboard-title">Sách bán chạy trong tuần</div>
                    <ul class="topboard-items clearfix">
                        <li class="clearfix">
                            <div class="item-order solid1"><span>1</span></div>
                            <div class="item-info">
                                <h3 class="item-title"><a href="">Hoa Tuylip Đen</a></h3>
                                <p class="item-price">
                                    <strong>49.500 <u>đ</u></strong><small>55.000 <u>đ</u></small>            </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="item-order solid2"><span>2</span></div>
                            <div class="item-info">
                                <h3 class="item-title"><a href="">Chat Với Tình Địch</a></h3>
                                <p class="item-price">
                                    <strong>46.500 <u>đ</u></strong><small>52.000 <u>đ</u></small>            </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="item-order solid3"><span>3</span></div>
                            <div class="item-info">
                                <h3 class="item-title"><a href="">Kẻ Phóng Đãng Thần Thánh</a></h3>
                                <p class="item-price">
                                    <strong>89.000 <u>đ</u></strong><small>99.000 <u>đ</u></small>            </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="item-order solid4"><span>4</span></div>
                            <div class="item-info">
                                <h3 class="item-title"><a href="">Chuyến Du Hành Kỳ Lạ Của Ngài Daldry</a></h3>
                                <p class="item-price">
                                    <strong>76.500 <u>đ</u></strong><small>85.000 <u>đ</u></small>            </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="item-order solid5"><span>5</span></div>
                            <div class="item-info">
                                <h3 class="item-title"><a href="">Học Cách Tiêu Tiền</a></h3>
                                <p class="item-price">
                                    <strong>53.000 <u>đ</u></strong><small>59.000 <u>đ</u></small>            </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="primary-inner grid9">

            <ul class="breadcrumb no-style" xmlns:v="http://rdf.data-vocabulary.org/#"><li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="http://cachep.vn/">Trang chủ</a> <span class="divider">/</span></li><li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="http://cachep.vn/danh-muc/sach-quoc-van/">Sách quốc văn</a> <span class="divider">/</span></li><li typeof="v:Breadcrumb" class="active"><em property="v:title">Văn học</em></li></ul><div class="content-block clearfix content-block-list content-block-product-grid">
            <div class="block-title-outer clearfix">
                <h2 class="block-title float-left">Văn học</h2>
                <div class="pager-outer float-right">
                    <span class="page-numbers current">1</span>
                    <a class="page-numbers" href="">2</a>
                    <a class="page-numbers" href="">3</a>
                    <span class="page-numbers dots">…</span>
                    <a class="page-numbers" href="">13</a>		</div>
            </div>
            <div class="block-bar clearfix">
                <div class="block-view-styles no-style float-left">
                    <a href="jvascript:void(0);" onclick="aj_set_session(&#39;view-style&#39;, &#39;block&#39;, &#39;&#39;); return false;" class="style-button-block current"><i class="fa fa-th-large"></i></a>
                    <a href="jvascript:void(0);" onclick="aj_set_session(&#39;view-style&#39;, &#39;list&#39;, &#39;&#39;); return false;" class="style-button-list "><i class="fa fa-list"></i></a>
                </div>
                <div class="block-filters float-right">
                    <span class="block-orderby-label ml5">Sắp xếp theo</span>

                    <select class="block-orderby-select" onchange="aj_set_location(this.value)">
                        <option selected="" value="">Hàng mới nhập</option>
                        <option value="">Tên: Z đến A</option>
                        <option value="">Tên: A đến Z</option>
                        <option value="">Sản phẩm nổi bật</option>
                        <option value="">Giá: Cao đến Thấp</option>
                        <option value="">Giá: Thấp đến Cao</option>
                    </select>

                    <select class="block-page-item-select" onchange="aj_set_session(&#39;post-per-page&#39;, this.value, &#39;http://cachep.vn/danh-muc/sach-quoc-van/van-hoc/&#39;); return false;">
                        <option value="5">5</option>
                        <option value="25" selected="">25</option>
                        <option value="35">35</option>
                        <option value="45">45</option>
                    </select>

                    <span class="block-page-item-label ml5">Sản phẩm/trang</span>
                </div>
            </div>
            <div class="block-inner-content clearfix">
                <ul id="myList" class="block-slider-items list-item-default" style="width: 104%">
                    {{#each book}}


                        <div class="item" >
                            <li class="item-outer" style="width: 24%">
                                <a class="item-thumb" href="sample_product/?id={{idSach}}" rel="nofollow">
                                    <img width="200" height="280" src="/{{hinhAnh}}" class="attachment-thumbnail-rectangle wp-post-image" alt="nhumuadongroixuong">
                                    <span class="item-percent-bubble">-10%</span>
                                </a>
                                <div class="item-meta-outer">
                                    <h3 class="item-title">
                                        <a href="sample_product/?id={{idSach}}">{{ten_sach}}</a>
                                    </h3>
                                    <em class="item-author">{{tac_gia}}</em>
                                    <p class="item-price">
                                        <strong>{{giaBan}}
                                            <u>đ</u>
                                        </strong>
                                        <small>{{giaBan}}
                                            <u>đ</u>
                                        </small>
                                    </p>
                                </div>
                            </li>
                        </div>
                    {{/each}}

                </ul>
            </div>
            <div class="block-bar clearfix mt30">
                <div class="block-view-styles no-style float-left">
                    <a href="jvascript:void(0);" onclick="aj_set_session(&#39;view-style&#39;, &#39;block&#39;,&#39;&#39;); return false;" class="style-button-block current"><i class="fa fa-th-large"></i></a>
                    <a href="jvascript:void(0);" onclick="aj_set_session(&#39;view-style&#39;, &#39;list&#39;,&#39;&#39;); return false;" class="style-button-list "><i class="fa fa-list"></i></a>
                </div>
                <div class="block-filters float-right">
                    <span class="block-orderby-label ml5">Sắp xếp theo</span>

                    <select class="block-orderby-select" onchange="aj_set_location(this.value)">
                        <option selected="" value="">Hàng mới nhập</option>
                        <option value="">Tên: Z đến A</option>
                        <option value="">Tên: A đến Z</option>
                        <option value="">Sản phẩm nổi bật</option>
                        <option value="">Giá: Cao đến Thấp</option>
                        <option value="">Giá: Thấp đến Cao</option>
                        <!--<option  value="http://cachep.vn/danh-muc/sach-quoc-van/van-hoc/?order=publish_date&dir=desc">Ngày xuất bản</option>-->
                    </select>

                    <select class="block-page-item-select" onchange="aj_set_session(&#39;post-per-page&#39;, this.value, &#39;http://cachep.vn/danh-muc/sach-quoc-van/van-hoc/&#39;); return false;">
                        <option value="5">5</option>
                        <option value="25" selected="">25</option>
                        <option value="35">35</option>
                        <option value="45">45</option>
                    </select>

                    <span class="block-page-item-label ml5">Sản phẩm/trang</span>
                </div>
            </div>
            <div class="clearfix mt20">
                <div class="pager-outer float-right">
                    <span class="page-numbers current">1</span>
                    <a class="page-numbers" href="">2</a>
                    <a class="page-numbers" href="">3</a>
                    <span class="page-numbers dots">…</span>
                    <a class="page-numbers" href="">13</a>		</div>
            </div>
        </div>


        </div>
    </div>
</div>
<script type="text/javascript">
    $('.tree-toggle').click(function () {	$(this).parent().children('ul.tree').toggle(200);
    });
    $(function(){
        $('.tree-toggle').parent().children('ul.tree').toggle(200);
    })
</script>